body {
  padding: 20px;
}

input[type="tel"] {
  width: 45px;
}

/**
fieldset {
  border: none;
  margin-bottom: 10px;
  p {
    margin: 0; padding: 0;
    padding-left: 30px;
  }
}

**/
.red {
  color: red;
}